# image -- Which knuto docker image to install
image: niradynamics/knuto:94f0e50

# strimzi_namespace
# -- The namespace in which the Strimzi User and Topic
#    operator listens for KafkaUser and KafkaTopic CRDs.
strimzi_namespace: kafka

# kafkauser_source_namespace
# -- Mapping of namespaces, with the setting for enabling or disabling deletion
#    of KafkaTopic CRDs when they are removed in each namespace. One KNUTO
#    instance will be started per namespace.
kafkauser_source_namespaces:
  production:
    deletion_enabled: false
    cross_namespace_read_allowed: false
    read_allowed_non_namespaced_topics: []
    cross_namespace_write_allowed: false
    write_allowed_non_namespaced_topics: []
  latest:
    deletion_enabled: false
    cross_namespace_read_allowed: false
    read_allowed_non_namespaced_topics: []
    cross_namespace_write_allowed: false
    write_allowed_non_namespaced_topics: []
  dev:
    deletion_enabled: true
    cross_namespace_read_allowed: false
    read_allowed_non_namespaced_topics: []
    cross_namespace_write_allowed: false
    write_allowed_non_namespaced_topics: []

# secret_type_to_bootstrap_server
# -- Mapping of secret type to the DNS name an port of the Kafka service.
#    Used to construct kafka-client.properties in Secrets placed in the
#    namespaces configured in kafkauser_source_namespaces
secret_type_to_bootstrap_server:
  "scram-sha-512": "production-kafka-bootstrap.kafka.svc.cluster.local:9092"
